<form action="">
    <fieldset>
      <legend>Enter the Info</legend>
      <p>
        <label for="medName_1">Name of the Medicine:</label>
        <input
          type="text"
          name="medName_1"
          id="medName_1"
          required
          autofocus
          autocomplete="on"
        />

      </p>
      <p>
        <label for="time_1">When it is need to be taken:</label>
        <input
          type="time"
          name="time_1"
          id="time_1"
          required
          autocomplete="on"
        />
      </p>
      <p>
        <label for="compartment_1">Enter the Compartment Number:</label>
        <input
          type="number"
          name="compartment_1"
          id="compartment_1"
          required
          autocomplete="on"
        />
      </p>
      <p>
        <label for="dose_1">Enter the Dose:</label>
        <textarea
          name="dose_1"
          id="dose_1"
          cols="30"
          rows="2"
          placeholder="Enter the details regarding the dose here:"
          required
          autocomplete="on"
        ></textarea>
      </p>
      <p>
        <label for="description_1">Enter the Description:</label>
        <textarea
          name="description_1"
          id="description_1"
          cols="30"
          rows="10"
          placeholder="Enter the description here:"
          autocomplete="on"
        ></textarea>
      </p>
      <br><hr>
      <p>
        <label for="medName_2">Name of the Medicine:</label>
        <input
          type="text"
          name="medName_2"
          id="medName_2"
          required
          autofocus
          autocomplete="on"
        />
      </p>
      <p>
        <label for="time_2">When it is need to be taken:</label>
        <input
          type="time"
          name="time_2"
          id="time_2"
          required
          autocomplete="on"
        />
      </p>
      <p>
        <label for="compartment_2">Enter the Compartment Number:</label>
        <input
          type="number"
          name="compartment_2"
          id="compartment_2"
          required
          autocomplete="on"
        />
      </p>
      <p>
        <label for="dose_2">Enter the Dose:</label>
        <textarea
          name="dose_2"
          id="dose_2"
          cols="30"
          rows="2"
          placeholder="Enter the details regarding the dose here:"
          required
          autocomplete="on"
        ></textarea>
      </p>
      <p>
        <label for="description_2">Enter the Description:</label>
        <textarea
          name="description_2"
          id="description_2"
          cols="30"
          rows="10"
          placeholder="Enter the description here:"
          autocomplete="on"
        ></textarea>
      </p>
      <br><hr>
      <p>
        <label for="medName_3">Name of the Medicine:</label>
        <input
          type="text"
          name="medName_3"
          id="medName_3"
          required
          autofocus
          autocomplete="on"
        />
      </p>
      <p>
        <label for="time_3">When it is need to be taken:</label>
        <input
          type="time"
          name="time_3"
          id="time_3"
          required
          autocomplete="on"
        />
      </p>
      <p>
        <label for="compartment_3">Enter the Compartment Number:</label>
        <input
          type="number"
          name="compartment_3"
          id="compartment_3"
          required
          autocomplete="on"
        />
      </p>
      <p>
        <label for="dose_3">Enter the Dose:</label>
        <textarea
          name="dose_3"
          id="dose_3"
          cols="30"
          rows="2"
          placeholder="Enter the details regarding the dose here:"
          required
          autocomplete="on"
        ></textarea>
      </p>
      <p>
        <label for="description_3">Enter the Description:</label>
        <textarea
          name="description_3"
          id="description_3"
          cols="30"
          rows="10"
          placeholder="Enter the description here:"
          autocomplete="on"
        ></textarea>
      </p>
    </fieldset>
  </form>